---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404">
    
<div>
    <img src="https://cbgcbxu2bqvc25vzcgs6r2ls2nzat2bz4tqstcsh3rx6sc2aq7aa.arweave.net/EEwg3poMKi12uRGl6Oly03IJ6Dnk4SmKR9xv6QtAh8A" alt="en contrucción">
</div>
<h2>404 Page Not Found</h2><br><br>

<div>
    <p>Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?</p><br><br>
    <h1>Quizás Te haz Equivocado!</h1>
    <p>Regresa a la página de inicio.</p> 
</div>

</Layout>


<style>

    p {
        font-weight: 500;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div img{
        max-width: 340px;
        height: auto;

    }

    h2{
        text-align: center;
    }

    @media screen and (max-width: 1270px) {
        
    }
</style>