---
import Layout from "../layouts/Layout.astro";
import '@fontsource/architects-daughter';
---

<Layout title="Conócenos" description= "Un rostro verdaderamente bello no viste de apariencias, es el espejo de un corazón sereno, un sentir que florece como un jardín en calma." image="https://q6ovvrlug4dudkt4skgrbrcewjlot34jol7t5wypk733ya7diyuq.arweave.net/h51axXQ3B0GqfJKNEMREslbp74ly_z7bD1f3vAPjRik" keywords="Tratamientos, masajes relajantes, rituales de belleza, rituales de bienestar, estética integral, masajes terapéuticos, masajes energéticos, talleres, productos, beauty life coach, retiros de belleza, retiros de bienestar, lifting, masaje kobido">
    <div class="contenedor">
        <section class="seccion1">
            <div class="texto">
                <h2 class="titulo-color-amarillo">Conócenos</h2>
                <p>cuidArteconArte es un santuario para quienes buscan algo más que cuidados superficiales. Es un espacio concebido para transmitir paz, armonía, amor y belleza, donde cada detalle invita a reconectar contigo misma/mismo.</p>
                <p>Más que un lugar, cuidArteconArte es una filosofía. Te ofrece una nueva forma de entender la belleza: consciente, personal y única.</p>
                <p>Con una visión práctica y holística, creamos un menú de servicios diseñados para alinear cuerpo, mente y espíritu, devolviendo equilibrio y bienestar a tu vida.</p>
                <p>Aquí, te acompañamos en el descubrimiento de tu verdadera belleza, aquella que no sigue normas, porque nace de tu esencia.</p>
            </div>
            <img src="https://csuszz5jzywlgafnqqodeh3efusbsnf2e2gj6ztvpjgy77czq2oa.arweave.net/FKks56nOLLMArYQcMh9kLSQZNLomjJ9mdXpNj_xZhpw" />
        </section>

        <section class="seccion2">
            <img src="https://d7cxvsthhd74rxgj57thawilszyfe7xu6ut5yl2372kjjmzvhkwa.arweave.net/H8V6ymc4_8jcye_mcFkLlnBSfvT1J9wvW_6UlLM1Oqw" alt="Yeny foto tocador">
            <div class="texto">
                <h3 class="titulo-color-amarillo">Yeny Vargas - Cosmeatra</h3>
                <p>
                    Cuenta con más de 20 años de experiencia en el campo de la cosmeatria, cosmetología, aromaterapia y quiromasaje.<br><br>
                    Fundadora de la asociación cuidAarteconArte <br><br>
                    Su trabajo es realizado en su pequeño templo de Belleza y Bienestar en un hermoso y entrañable lugar de Sevilla -España.<br><br>
                    En este espacio tan especial donde los pájaros trinan, donde la sombra de un naranjo abriga, donde la opulencia no hace alarde de ella, donde se respira sencillez y tradición, suceden verdaderos rituales de cuidados profundos, dedicados a la belleza y el bienestar, utilizando las notas más delicadas de los aromas de una cosmética exclusiva para ti.<br><br>
                    En este espacio, además de cuidar la belleza de tu templo, cuidamos de tu familia, con nuestros tratamientos faciales especiales para las/los adolescentes y los masajes infantiles ¨Shantala¨<br><br>
                    Te acompañamos con nuestro asesoramiento de Beauty Life Coach.<br><br>
                    Tenemos un amplio abanico de servicios que posibilita la personalización.<br><br>
                    Yeny inicia su formación en masaje facial kobido y estética oriental en el Instituto Yamano de Tokyo (Japón, 1990/1991). Continúa sus estudios con masaje ayurvédico en el Instituto Naradeba Shala de Sao Paulo (Brasil, 1998/1999). Posteriormente realiza investigaciones sobre la medicina ayurvédica aplicada a la estética utilizando como primera fuente de inspiración el libro “Ayurveda – Las mejores técnicas para conseguir una belleza verdadera» de la autora Pratima Raichur y el libro “La ciencia del Ayurveda” del autor Acharya Balkrishna.<br><br>
                </p>

                <h3 class="titulo-color-amarillo">Sin dejar nunca su continua formación se especializa en:</h3>
                <ul class="formacion">
                    <li><strong>Técnico en estética Integral y cosmetologia.</strong>Formación profesional grado superior en el Instituto Torre Blanca de Sevilla (España, 2004/2006).</li>
                    <li><strong>Quiromasaje y reflexologia podal</strong> en el instituto Kiros de Sevilla (España, 2007/2008).</li>
                    <li><strong>Caracterización y prótesis, maquillaje para cine, teatro, fotografia y novias,</strong>en la escuela Kaikeyto de Sevilla (España, 2009).</li>
                    <li><strong>Medicina tradicional china</strong>– Temario «Fitoterapia» en la Escuela del maestro Jose Luis Bolaños por la Fundación Europea de Medicina Tradicional China de Sevilla (España, 2009/2010).</li>
                    <li><strong>Aromaterapia</strong>en Natural Medic con el maestro José Vitelio Padilla en Sevilla (España, 2011/2012). </li>
                    <li><strong>Intervención Estratégica con psicología y neurolingüistica aplicada</strong>INDESER ( España 2020/2021)</li>

                </ul>
            </div>
        </section>

        <section>
            <div class="contenedor-tarjeta-conocenos">
                <div class="tarjeta-conocenos">
                    <img src="https://3piurvu5aq6ga7qihqkmjwpnludmfbvc6zylalthimiez6wte3iq.arweave.net/29FI1p0EPGB-CDwUxNntXQbChqL2cLAuZ0MQTPrTJtE" alt="Yeny Vargas">
                    <p>Hace 27 años, sentada frente al frío resplandor de un ordenador, comprendí que mi lugar no estaba ahí. Mis manos, creadas para tocar la vida, anhelaban el calor de las personas, el susurro perfumado de las flores y el aroma eterno de las plantas. En aquel instante de lucidez, decidí escuchar a mi alma y seguir mi instinto más primario, me lancé al abrazo fértil de la tierra soltando las cadenas invisibles.<br><br>
                        Así comenzó mi camino hacia el mundo de los aromas, las terapias, la cosmética y el bienestar. Un camino que me llevó paso a paso, a poner mis manos al servicio del ser humano, buscando aliviar dolores y tristezas, y resaltar la belleza auténtica, ayudando a quienes deseaban reencontrarse con su propia esencia, con la verdad que habita bajo los cánones y las máscaras.<br><br>
                        Con el paso de los años, mi asombro ante el vacío de lo que hoy llamamos “belleza” se hizo inevitable. Surgió entonces en mí el deseo profundo de cambiar esa narrativa,de crear un espacio sincero para mujeres y hombres, donde podamos recordar juntos que la belleza no es una exigencia, sino una celebración. Una mirada amable hacia nosotros mismos, llena de luz y libres de la opresión de los estándares.
                    </p>

                </div>
            </div>
        </section>
    </div>
    
</Layout>

<style>

    .contenedor {
        padding: 16px;
        
    }

    .titulo-color-amarillo {
        color: #1b6a65;
    }

    .seccion1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 64px;
    }

    .seccion2 {
        display: flex;
        justify-content: space-around;
        gap: 16px;

    }

    img {
        width: 344px;
        height: 230px;
        object-fit: contain;

    }

    .texto {
        display: flex;
        flex-direction: column;
        gap: 14px;
        font-size: 18px;
        font-weight: 500;
    }

    .contenedor-tarjeta-conocenos {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    .tarjeta-conocenos {
        display: flex;
        gap: 16px;
        padding: 8px;
        background-color: #fcfcfc;
        max-width: 981px;
        font-family: 'Architects Daughter', cursive;
        font-size: 17px;
        font-weight: 500;
        font-style: italic;
        /* border: 1px solid #000; */
        
    }

    .tarjeta-conocenos p {
        border-left: 3px solid #ddb531;
        padding-left: 8px;
    }

    .tarjeta-conocenos img {
        width: 320px;
        height: auto;
    }

    .formacion {
        display: flex;
        flex-direction: column;
        margin: 16px;
        gap: 12px;
    }

    .slideshow-container {
  /* width: 600px;
  height: 600px; */
  
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1270px){

.contenedor {}

.seccion1 {
    flex-direction: column;
    
}

.seccion2 {
    flex-direction: column;
    
}

.tarjeta-conocenos {
    flex-direction: column;
}
}


</style>

<!-- <script>
    function initSlider() {
  let slideIndex = 0;
  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 4000);
  }
  showSlides();
}

// Llama a initSlider cuando se cargue la página
document.addEventListener("astro:page-load", initSlider);
</script> -->