---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Estética" description="Descubre la Armonía entre belleza y bienestar con nuestro tratamientos estéticos." image="https://2xvezwoevv6whuep343fhvd4pbvvij6wjjcwl32ncta2mu5jd5pq.arweave.net/1epM2cStfWPQj982U9R8eGtUJ9ZKRWXvTRTBplOpH18" keywords="belleza, bienestar, relajación, masaje, tratamiento, ritual, manos, pies, tratamiento corporal, tratamiento facial, maquillaje, manos y pies, kobido, shiatsu, masaje sueco, masaje californiano, masaje reductor, masaje revitalizante, anticelulitico, reafirmante, tratamiento iluminador, antiarrugas, lifting facial, antimanchas">
    
<div class="contenedor-principal">
    <div class="container">
      <div class="palette">
          <a href="/cursos" class="color"><span><h2>Cursos</h2></span></a>
          <a href="/talleres" class="color"><span><h2>Talleres</h2></span></a>
        <!-- <a href="/manosYPies" class="color"><span><h2>Manos y Pies</h2></span></a> -->
      </div>
    </div>
</div>
</Layout>

<style>
    
    .contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-shadow: 0 10px 20px #dbdbdb;
    /* font-family: sans-serif; */
}

.palette {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.color {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    color: #1b6a65;
    font-weight: 600;
    letter-spacing: 1px;
    transition: flex 0.1s linear;
}

.color h2 {
    position: relative;
    top: 13em;
    font-size: 32px;
}

.color span {
    /* opacity: 0; */
    transition: opacity 0.1s linear;
}

.color:nth-child(1) {
    background-image: url(https://4by6fcry7qzuccgerlcxfuxzrx3rh5ippbx3ctnrxuw4uaxtsryq.arweave.net/4HHiijj8M0EIxIrFctL5jfcT9Q94b7FNsb0tygLzlHE);
    /* background: #1b6a65; */
    /* background-size:50vh; */
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

.color:nth-child(2) {
    /* background: #1b6a65; */
    background-image: url(https://tfoi4dmd5hjkyldad3x423qsmejrqdeuov65xte7d252cdtp2q6a.arweave.net/mVyODYPp0qwsYB7vzW4SYRMYDJR1fdvMnx67oQ5v1Dw);
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
    opacity: 0.88;
}

.color:nth-child(3) {
    background-image: url(https://cwvqhpgqbpinmkrmzvgasa6ajijoeurjraivhtn3zqz3eopwgvca.arweave.net/FasDvNAL0NYqLM1MCQPAShLiUimIEVPNu8wzsjn2NUQ);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    /* background: #1b6a65; */
}

.color:nth-child(4) {
    background: #f4a261;
}

.color:nth-child(5) {
    background: #e76f51;
}

.color:hover {
    flex: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
    opacity: 1;
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 1270px) {
    .container {
        flex-direction: column;
    }

    .palette {
        flex-direction: column;
    }

    .color {
        height: auto;
        /* flex: 1; */
        box-shadow: none; /* Desactiva el efecto hover */
    }

    .color span {
        opacity: 1; /* Siempre visible */
    }

    .color h2 {
        position: static;
        margin: 4em 0 0 0;

    }
    .color:nth-child(1) {
    background-position: top;
        
    }
}


</style>