---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Tratamientos Terapeuticos" description="Nuestros tratamientos terapéuticos incluyen masajes restauradores, rituales relajantes y prácticas energéticas que armonizan cuerpo, mente y espíritu." image="https://byxghmg4fqmrt4l7obwrp5xxspqys2ox77fmwua4dbkaig2jtjna.arweave.net/Di5jsNwsGRnxf3BtF_b3k-GJadf_ystQHBhUBBtJmlo" keywords="belleza, bienestar, relajación, masaje, tratamiento, ritual, manos, pies, tratamiento corporal, kobido, shiatsu, reiki, espiritual, chamánico, masaje energético, masaje sueco, masaje californiano, masaje revitalizante,  " >
    
<div class="contenedor-principal">
    <div class="container">
      <div class="palette">
          <a href="/masajesCorporales" class="color"><span><h2>Masajes Corporales</h2></span></a>
          <a href="/ritualesRelajantes" class="color"><span><h2>Rituales Relajantes</h2></span></a>
          <a href="/ritualesEnergeticos" class="color"><span><h2>Rituales Energéticos</h2></span></a>
      </div>
    </div>
</div>
</Layout>

<style>
    
    .contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-shadow: 0 10px 20px #dbdbdb;
    /* font-family: sans-serif; */
}

.palette {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.color {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    color: #1b6a65;
    font-weight: 600;
    letter-spacing: 1px;
    transition: flex 0.1s linear;
}

.color h2 {
    position: relative;
    top: 13em;
    font-size: 32px;
}

.color span {
    /* opacity: 0; */
    transition: opacity 0.1s linear;
}

.color:nth-child(1) {
    background-image: url(https://2a5sepryfjjm7g62uau2wgrdhr22j5s5sxjyr3ramfw6sf3fyhnq.arweave.net/0DsiPjgqUs-b2qApqxojPHWk9l2V04juIGFt6Rdlwds);
    /* background: #1b6a65; */
    /* background-size:50vh; */
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

.color:nth-child(2) {
    /* background: #1b6a65; */
    background-image: url(https://h4pstvc5aqx53bk5eqxe6c3dvnys423yd2dx54h3moa45352poja.arweave.net/Px8p1F0EL92FXSQuTwtjq3Eua3geh37w-2OBzu-6e5I);

    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
}

.color:nth-child(3) {
    background-image: url(https://zzj2u5dhswf3iinwamgxi4iuul343ocjhppdc6h4fx64ks4x2jhq.arweave.net/zlOqdGeVi7QhtgMNdHEUovfNuEk73jF4_C39xUuX0k8);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    /* background: #1b6a65; */
}

.color:nth-child(4) {
    background: #f4a261;
}

.color:nth-child(5) {
    background: #e76f51;
}

.color:hover {
    flex: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
    opacity: 1;
}

/* Ajustes para dispositivos pequeños */
@media (max-width: 1270px) {
    .container {
        flex-direction: column;
    }

    .palette {
        flex-direction: column;
    }

    .color {
        height: auto;
        /* flex: 1; */
        box-shadow: none; /* Desactiva el efecto hover */
    }

    .color span {
        opacity: 1; /* Siempre visible */
    }

    .color h2 {
        position: static;
        margin: 4em 0 0 0;

    }
    .color:nth-child(1) {
    background-position: top;
        
    }
}


</style>